.i{
    display: flex;
    height: 100vh;

}
.i-left
{
    flex :1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.i-right
{
    flex : 1;
    position: relative;
}
.i-left-wrapper
{  display: flex;
    flex-direction: column;
    height: 50vh;
    
   padding: 50px;
   justify-content: space-between;
}
.i-intro
{
    font-size: 30px;
    font-weight: 300;
}
.i-name
{
    font-size: 60px;
}
.i-title
{
    height: 50px;
    overflow :hidden;
}
.i-title-wrapper
{
    height: 100%;
    animation : move 4s ease-in-out infinite alternate;

}
@keyframes move {
            25%{
                transform: translateY(-50px);
            }
            /* 50%{transform: translateY(-100px);}
            75%{transform: translateY(-150px);}
            100%{transform: translateY(-200 px);} */
}
.i-title-item
{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
 
    display: flex;
    align-items: center;
}
.i-img
{  
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.i-bg
{   height: 100%;
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    position: absolute;
    right: 0;
    top: 0;
    background-color:#59b256;
}
@media screen and (max-width :480px)
{
    .i{
        flex-direction: column;
    }
    .i-left-wrapper
    {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;

    }
    .i-desc
{
    display: none;
}
}
@media screen and (max-width :1200px)
{
    .i{
        flex-direction: column;
    }
    .i-left-wrapper
    {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;

    }
    .i-desc
{
    display: none;
}
}









